<!--I need model keyword because i will bring data from model but i need the path  -->
@model mvcExp.Models.Person

@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div>
    <!--Model this word I can use it to get one element or one object but not all class to brings all class we write the all path like this foreach (var item in mvcExp.Models.Person.People)-->

    <h1>hello</h1>
    <!--we use here a Big capital letter for Model and we handle properties from this model as reference-->
    <p><h3>@Model.Name</h3></p>
    <p>@Model.Age</p>
</div>

